<form class="mt-3 mb-3">
  <div class="text-center">
  <label for="" class="my-3 mx-3">Filter By Team One | Team Two </label>
  <!-- ngModelOptions c comme name pour separer les inputs par name on peut utiliser à la place name -->
  <input type="text" [(ngModel)]='term' [ngModelOptions]="{standalone: true}">
  <!-- on peut modifier term par val ou aucun mot , il faur changer les mots dans ce html -->
  </div>
 </form>
<table class="table table-striped mt-3 mb-3">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Score One</th>
        <th scope="col">Score Two</th>
        <th scope="col">Team One</th>
        <th scope="col">Team Two</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elt of matches | myFilter:term">
        <td>{{elt._id}}</td>
        <td>{{elt.scoreOne}}</td>
        <td>{{elt.scoreTwo}}</td>
        <td>{{elt.teamOne}}</td>
        <td>{{elt.teamTwo}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="displayMatch(elt._id)">Display</button>
            <button type="button" class="btn btn-warning" style="margin-left: 5px;" (click)="goToEdit(elt._id)">Edit</button>
            <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="deleteMatch(elt._id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>